.about-items{
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
}
.about-education .about-items{
    height: 16rem;
}
.about-project .about-items{
    height: 30rem;
}
.intro .about-items{
    height: 24rem;
}
.about-items-time{
    float: left;
    width: 40rem;
    font-size: 1.5em;
}
.about-education .about-items-time{
    height: 160px;
    line-height: 160px;
}
.about-project .about-items-time{
    height: 26rem;
    line-height: 26rem;
}
.about-items-details{
    float: right;
    width: 40rem;
}
.about-items-details-con{
    margin: 0;
    line-height: 1em;
    font-size: 1em;
    text-indent: 8em;
    color: black;
}

.details-l1{
    font-size: 0.8em;
    min-height: 1.6rem;
}
.about-items-photo{
    width: 40rem;
    float: left;
    height: 24rem;
}
.about-items-photo .avatars img{
    width: 24rem;
    height: 24rem;
    /* margin: 0 auto 1.2rem auto; */
    display: block;
    border-radius: 50%;
    /* vertical-align: middle; */
}
.avartars-info{
    margin: 1rem 0 0 0;
    width: 24rem;
    text-align: center;
}
.intro{
    margin: 2rem 0;
}
#interest h1{
    font-family: "librebaskerville-bold", serif;
    font-size: 4.8rem;
    line-height: 1.375;
}


@media only screen and (max-width: 900px) {
    #about .about-wrap {
      max-width: 720px;
    }
    #about .lead {
      font-size: 3.6rem;
    }
    .about-items-photo{
        width: 24rem;
        height: 24rem;
    }
    .about-education .about-items{
        height: 23rem;
    }
    .about-project .about-items{
        height: 32rem;
    }
    .about-education .about-items-time,  .about-project .about-items-time{
        float: none;
        height: 8rem;
        line-height: 8rem;
    }
    .about-education .about-items-details, .about-project .about-items-details{
        float: none;
    }
  }
  @media only screen and (max-width: 768px) {
    #about h3 {
      font-size: 1.7rem;
    }
    #about .about-wrap {
      max-width: 600px;
    }
    #about .lead {
      font-size: 3.1rem;
    }
    .intro{
        height: 52rem;
    }
    .intro .about-items{
        height: 14rem;
    }
    .about-items-details{
        float: none;
        width: 100%;
    }
    .intro .about-items-details{
        text-align: center;
        margin: 0 auto;
    }
    .about-items-photo{
        width: 14rem;
        height: 14rem;
        float: none;
        margin: 0 auto;
    }
    .about-items-photo .avatars img{
        width: 14rem;
        height: 14rem;
    }
    .about-education .about-items-time,  .about-project .about-items-time{
        height: 6rem;
        line-height: 6rem;
        font-size: 1.4em;
    }
    .about-education .about-items-details, .about-project .about-items-details{
        font-size: 1.4rem;
        line-height: 2.8rem;
    }
    .about-education .about-items{
        height: 20rem;
    }
    .about-project .about-items{
        height: 27rem;
    }
  }
  @media only screen and (max-width: 600px) {
    #about {
      min-height: auto;
    }
    #about .about-wrap {
      max-width: 500px;
    }
    #about .lead {
      margin-top: 4.8rem;
      font-size: 2.8rem;
    }
    .about-project .about-items{
        height: 27rem;
    }
  }
  @media only screen and (max-width: 500px) {
    #about h3 {
      font-size: 1.5rem;
    }
    #about .lead {
      font-size: 2.5rem;
    }
    .about-project .about-items{
        height: 32rem;
    }
  }
  @media only screen and (max-width: 400px) {
    #about {
      padding: 4.2rem 0 9.6rem;
    }
    #about .about-wrap {
      max-width: 380px;
    }
    #about .lead {
      font-size: 2.3rem;
    }
    .about-project .about-items{
        height: 35rem;
    }
  }